################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/KursachBotRegata.csproj
.vs/